/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
   background-color: grey;
}
.search_form {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.app-title{
  color: white;
  font-size: 1.5rem;
}

.container{
    margin-right: auto;
    margin-left: auto;
}

.nav-icon{
    display: table;
}

.nav-icon-all {
    display: flex;
}

.navbar-toggle {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat 50%;
    background-size: 100% 100%;
}

.ft-item {
    text-align: center;
    margin-top: 20px;
}

.mt-3{
    margin-top: 1rem!important;
}

table {
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
th.list-wrap {
    text-align: center;
}
td {
    text-align: center;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    position: relative;
}

.navbar-nav .nav-link {
    color: white;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group {
    margin-bottom: 1rem;
}
#book_comment_comment {
    margin-top: 7px;
}

.error-message {
    font-size: 1.4rem;
}

/*ボタン*/
.btn.btn-secondary {
    margin-top: 10px;
}

.btn.btn-sm.btn-danger {
    margin-top: 2px;
}
.submit.btn.btn-success {
    margin-bottom: 10px;
}

.btn.btn-primary.btn-block {
    margin-top: 20px !important;
    width: 60%;
    margin: auto;
}
.like {
    position: absolute;
    bottom: 14px;
}
/*ボタンここまで*/

/*コメントしたユーザー画像の上に余白*/
.comment-user-image {
    margin-top: 20px;
}

@media (min-width: 576px){
    /*ここから編集画面のレイアウト*/
.pl-sm-0, .px-sm-0 {
    padding-left: 0!important;
}

.pr-sm-0, .px-sm-0 {
    padding-right: 0!important;
}
    /*ここまで編集画面のレイアウト*/
}

@media screen and (min-width: 992px) {

/* 992px以上の幅の場合に適応される */
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

}

@media screen and (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}

@media screen and (max-width: 640px) {
  .tbl-r02 th {
    display: none;
  }
  .tbl-r02 td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 450px) {
    .book_comments{
        text-align: right;
    }
    /*スマホサイズの時改行を入れる*/
    .new-line{
        display: none;
    }
}