<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="error-message">&nbsp;&nbsp;<%= obj.errors.count %> error occurred</div>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>